*{
	margin: 0px;
	padding:0;
}



.header{
	background-color:skyblue;
	line-height: 70px;
	padding-left: 30px;
	color: white;
	
	
}
 .header a{
	text-decoration:none;
	color: white;
	margin-left: 30px;
}


.header a:hover{
	text-decoration: none;
	color:black;
}
.logo{
	float: right;
	padding-right: 30px;

}
ul{
	background-color: #424a5b;
	width: 16%;
	height: 100%;
	position: fixed;
	padding-top: 5%;
	text-align: center;

}
ul li{
	list-style: none;
	padding-bottom:30px;
	font-size: 20px;
}
ul li a {
color: white;
font-weight: bold;
}

ul li a:hover{
	color: skyblue;
	text-decoration: none;
}

